<tr>
  <td width="50%">
    <div class="advertisement-container">
      <table width="340px;" cellpading="2" cellspacing="3" border="0">
        <tr>
          <td>
            <p style="color:#5b4646 !important;">
              <b>Want a Kindle!!!*</b>
            </p>
            <p style="font-size:10px;" align="justify">
              The first 10 people to list 40 or more secondaries to buy or sell will win a Kindle.
              Put up your wish list -- It is FREE!
            </p>
          </td>
          <td width="1" style="padding:10px 0px 10px 10px;">
            <%= image_tag "kindle.jpg", :size=>"60x60"%>
          </td>
        </tr>
      </table>
    </div>
  </td>
</tr>
<tr>
  <td width="50%">
    <div class="advertisement-container">
      <table width="340px;" cellpading="2" cellspacing="3" border="0">
        <tr>
          <td>
            <p style="color:#5b4646 !important;">
              <b>Want an iPod!!!*</b>
            </p>
            <p style="font-size:10px;" align="justify">
              The first 30 people to list 25 or more secondaries to buy or sell will win an iPod nano.
                  Put up your wish list -- It is FREE!
            </p>
          </td>
          <td width="1" style="padding:10px 0px 10px 10px;">
            <%= image_tag "apple_ipod_nano.jpg", :size=>"60x60"%>
          </td>
        </tr>
      </table>
    </div>
  </td>
</tr>
<tr>
  <td width="50%">
    <div>
      <table width="370px;" cellpading="0" cellspacing="0" border="0">
        <tr>
          <td>
            <div width="110px" style="font-size:9px;">
              <p align="justify">
                <b>Rules : </b>To participate in the gift from Trusted Insight Inc, the secondaries need to be
                listed on the site for a minimum of six months and should be legitimate positions.
                Only one gift per organization.
              </p>
              <p >* Terms and Conditions Apply.</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </td>
</tr>
