<div id="edit_div_<%=@num%>">
  <div class="admin_edit">
    <p  style="margin-left:30px;"><%=check_box_tag 'question',true,true,:class=>"new_option_checkbox"%></p>
  </div>
  <div class="admin_edit_textfield" >
    <%= text_field_tag 'question[options]['+params[:qid].to_s+'][]',(),:class=>"new_option_field"%><%=image_tag("close.png" ,:onclick =>"edit_remove_field(#{params[:qid]},#{@num});") %><br />
  </div>
</div>
