<div style="*width:400px;">
  <div style="width:5px;*margin-bottom:-30px;*float:left;">
    <%=check_box_tag 'question[options][]',true,true,:class=>"option_checkbox_edit"%>
  </div>
  <div style="*float:left;*width:10px;" >
    <%= text_field_tag( 'question',true,:class=>"option_field_edit")%><br />
  </div>
</div>
