<!--<span style="float:left;">
  <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=d4ea544a-db0e-44dc-9530-8307b508d10e&amp;type=website"></script>
</span>-->
<span class="facebook"><a href="http://www.facebook.com/pages/Trusted-Insight/148657683542" target="_blank"><img src="/images/fb.png" style="width:16px;height:16px;" alt="Become a fan" title="Become a fan" /></a></span>
<span class="twitter"><a href="http://twitter.com/trustedinsight" target="_blank"><img src="/images/twitter.jpg" style="width:16px;height:16px;" alt="Follow us on twitter" title="Follow us on twitter" /></a></span>
<!--<span class="headerLinksDivider"></span>-->