<div style="width:5px;">
  <%=  radio_button_tag 'question[options][]',"yes",false ,:class=>"question_type_option_checkbox"%>
  <label class="question_type_radio_button">Yes</label>
  <%=  radio_button_tag 'question[options][]',"no",true ,:class=>"question_type_option_checkbox" %>
  <label class="question_type_radio_button">No</label>
</div>
<br />