<div class="fluid title">
  <div style="position: relative;" class="fixed-lg relative container">
    <div style="padding-bottom: 10px;" class="section">
      <div class="gr b ptop">
        <h2 style="height: 27px; width: 920px;" class="sIFR-replaced"><span class="sIFR-alternate">Forgot password?</span></h2>
        <br/>
      </div>
    </div>
  </div>
</div>
<div style="position: relative;" id="container" class="fixed-lg relative">
  <div class="section">
    <div class="standard tidy">
      <div class="forgot-password-container">
        <div class="forgot-password-label">
          Please enter the email address you gave us when you registered
          and we'll send you a new password.
        </div>
        <form onsubmit="$('reset-email-button').disable(); return true;" method="post" action="/users/forgot_password_mail">
          <div>
            <%= flash[:message] %>
          </div>
          <div>
            <center>
              <table cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top">
                  <input type="text" value="" name="email" id="email" style="width: 180px !important;"/>
                </td>
                <td>
                  <%= submit_tag 'Submit', :class => "button" %>
                </td>
              </tr>
            </table>
            </center>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('email').focus();
</script>
