<div class="user_select">
<h2>Who are you?</h2>

<ul>
	<li>
		I am an <br /><span>Institutional Investor</span><br />
		<%= link_to 'Sign in', :controller => 'main', :action => 'select_plan', :role_id => 1 %>
	</li><br /><br />
	<li>
		I am a <br /><span>Fund Manager</span><br />
		<%= link_to 'Sign in', :controller => 'main', :action => 'select_plan', :role_id => 2 %>
	</li><br /><br />
	<li>
		I am a <br /><span>Service Provider</span><br />
		<%= link_to 'Sign in', :controller => 'main', :action => 'select_plan', :role_id => 3 %>
	</li>
</ul><br /><br /><br />
<h1>Select User type</h1><br /><br /><br />	
</div>	


