Hello <%= @profile.firstname %> <%= @profile.lastname %>,

You recently requested a new password.

You can  reset your password by clicking the link : <%= @new_password %>

Your login name is :<%= @login %>


Sincerely,
Trusted Insight Team