Hello <%=@firstname %> <%= @lastname %>,

We are moving to more secure credentails.

Please use the following credential when you login in next time.
login : <%= @login %>
password: <%= @password %>

You can change your password by clicking on profile followed by edit profile.

Sincerely,
Trusted Insight Team